Source: qml-share-ui
Section: libs
Priority: optional
Maintainer: Jukka Tiihonen <jukka.t.tiihonen@nokia.com>
Build-Depends: debhelper (>= 5.0.0), libmeegotouch-dev (>= 0.20.40),
 libqt4-dev (>= 4.5), doxygen, libthumbnailer-dev (>= 0.1.1),
 libnaccounts-ui-dev (>= 0.186), aegis-builder, libshare-ui-dev (>= 0.3.10.1), 
 libqtm-systeminfo-dev, libmessagingif-dev, libsysinfo-dev, libqmsystem2-dev
Standards-Version: 3.8.0

Package: qml-share-ui
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QML Share UI
